
<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="router.php?action=CovidAccueil">DECAILLIOT & ETIENNE</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Gestion des vaccins <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router.php?action=VaccinReadAll">Liste des vaccins</a></li>
                    <li><a href="router.php?action=VaccinCreate">Ajout d'un vin</a></li>
                    <li><a href="router.php?action=VaccinUpdate">Mise à jour d'un vaccin</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false"> Gestion des centres <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="router.php?action=CentreCreate">Ajout d'un centre</a></li>
                    <li><a href="router.php?action=CentreReadAll">Liste des centres</a></li>   
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false"> Gestion des stocks de vaccins <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Liste des centres avec le nombre de doses de chaque vaccin</a></li>
                    <li><a href="#">Nombre global de doses des centres</a></li>   
                    <li><a href="#">Attribution des vaccins pour un centre</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false"> Gestion des rendez-vous de vaccination <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Dossier de vaccination d'un patient</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false"> Mes innovations <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Fonctionnalité 1</a></li>
                    <li><a href="#">Fonctionnalité 2</a></li>
                    <li><a href="#">Fonctionnalité 3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false"> Documentation <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Documentation innovation 1</a></li>
                    <li><a href="#">Documentation innovation 2</a></li>
                    <li><a href="#">Documentation innovation 3</a></li>
                    <li><a href="#">Votre point de vue global sur ce projet</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- ----- fin fragmentCaveMenu -->

